.root {
    flex-grow: 1;
}

.menuButton {
    margin-right: 4rem;
    color: red;
}

.title {
    flex-grow: 1;
    margin-left: 1rem;
}

.table {
    padding-top: 5rem;
    width:60%;
    margin: auto;

}

.grid {
    padding-top: 5rem;
}

.textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    //padding: 1rem;
}